@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800&display=swap');

* {
    font-family: 'Montserrat';
}

h1 {
    font-size: 36px;
    font-weight: bold;
    font-style: italic;
    text-align: center; 
}

.main {
    color: red;
}
