@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

* {
    box-sizing: border-box;
    font-family: "Noto Sans KR";
}


header {
    width: 100%;
    height: 4em;
    background-color: #efefef;
    display: flex;
}

.nav-container{
    display: flex;
    margin: auto;
    width: 1100px;
    justify-content: space-between;

    height: 40px;
    object-fit: cover;
}

#navbar {
    overflow: hidden;
}

#navbar li {
    float: right;
    display: block;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

.low-nav{
    margin-bottom: 100px;
    box-shadow: 0 2px 2px rgb(0 0 0 / 10%);
}

/* stick navbar when scrolling down*/
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

article {
    display: flex;
    max-width: 1100px;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: auto;
}

.recipe-contents img {
    width: 1100px;
    height: 733px;
    object-fit: cover;
}

footer {
    border-top: 1px solid #ddd;
    height: 250px;
    background-color: #efefef;
}

li {
    list-style: none;
    text-decoration: none;
}


input{
    width: 100%;
    height: 8vh;
    padding: 20px;
    border: 1px solid rgb(172, 172, 172) ;
    writing-mode: horizontal-tb;
    text-align: start;
    display: inline-block;
}

.article-intro{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

.article-intro li{
    padding: 0 16px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.logo {
    flex: none;
}

.recipe-top {
    width: 8vw;
}

.recipe-items {
    padding: 45px;
    background-color: rgb(219, 235, 148);
    border: 1px solid #3b8616;

    text-align: center;
}

.summary{
    border: 1px solid rgb(238, 238, 238) ;
}

.comment{
    background-color:  #f9f9f9;
    padding: 40px;
    border: 1px solid #dedede;
}

.stars{
    color:#1560b6
}

p{
    height: 68px;
    text-align: center;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.re-paging{
    padding: 35px 0 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.re-left{
    float: left;
    justify-content: center;
    align-items: center;
    width: 16%;
    min-height: 68px;
    min-width: 68px;
    background: url(src/btn_cirLeft-default.gif) 0 0 no-repeat;
    background-size: auto;
}

.re-right{
    float: right;
    justify-content: center;
    align-items: center;
    width:16%;
    min-height: 68px;
    min-width: 68px;
    background: url(src/btn_cirRight-default.gif) right 0 no-repeat;
    background-size: auto;
}