body {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 70px;
  margin-bottom: 50px;
}

.title {
  text-align: center;
}
.sub-title {
  font-size: 50px;
}
.sub-sub {
  font-size: 30px;
}
.box {
  text-align: center;
  background-color: greenyellow;
}
.food {
  font-weight: bold;
}
.food-title {
  font-size: 30px;
}
.method {
  font-size: 30px;
}
.recipe-box {
  border: #f0f0f0 solid 1px;
  border-radius: 10px 10px 0px 0px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.recipe-title {
  margin: 0px;
  background-color: skyblue;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 40px;
  color: black;
  font-weight: bold;
  border-radius: 10px 10px 0px 0px;
}
.content {
  font-size: 30px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
