.gnb{
    display: flex;
    padding:  4px 24px;
    align-items: center;
    background-color: transparent;
}

.gnb-items{
    justify-content: space-between;
    -webkit-box-pack: justify;
    -webkit-box-align: center;
}